body {
  font-family: 'Cabin', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  background: rgb(0, 0, 0) url("../images/background.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

.transbox {
  opacity: 1.0;
  min-height: 100%;
}

.container {
  padding-bottom: 40px;
}

footer {
  bottom: 0;
  width: 100%;
  height: 70px;   /* Height of the footer */
}

.title {
  font-weight: 900;
  font-size: 100px;
  font-family: 'Grand Hotel', cursive;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
}

h3 {
  color: #ffffff;
  font-style: italic;
  font-size: 25px;
}

/* 
Loading section
*/
.se-pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/loading.gif") center no-repeat #032b44;
}

.no-js #loader {
  display: none;
}

.js #loader {
  position: absolute;
  left: 100px;
  top: 0;
  display: block;
}

/*
Header Section
*/
.header-logo-wrapper {
  margin: 50px 0px 70px 0px;
}

/*
 Address
 */
.address-wrapper {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 25px;
}

.address-wrapper a {
  margin-right: 40px;
  font-size: 20px;
  color: #ffffff;
}
.address-wrapper a:last-child {
  margin-right:0;
}

.address-wrapper address {
  margin-bottom: 0;
  font-weight: 900;
}

/*
 Social media section
 */
.social-media-wrapper {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 25px;
}

.social-media-wrapper a {
  margin-right: 20px;
  font-size: 25px;
  color: #ffffff;
}

.social-media-wrapper a:last-child {
  margin-right: 0;
}

/*
Footer and copyright section
*/
.copyright {
  margin: 30px 0 20px 0;
  color: #ffffff;
}


/*--- THE MAGIC ---*/
/*
This is the best bit!
*/
[placeholder]{
  cursor:pointer;
}
[placeholder]:active,
[placeholder]:focus{
  cursor:text;
}