/* https://getbootstrap.com/docs/4.2/examples/sticky-footer/ */

body {
  font-family: 'Cabin', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  background: rgb(0, 0, 0) url("../images/background.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transbox {
  opacity: 1.0;
}

.container {
}

footer {
}

.title {
  font-weight: 900;
  font-size: 100px;
  font-family: 'Grand Hotel', cursive;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
}

h3 {
  color: #ffffff;
  font-style: italic;
  font-size: 25px;
}

/*
Header Section
*/
.header-logo-wrapper {
  margin: 50px 0px 70px 0px;
}

/*
 Address
 */
.address-wrapper {
  font-size: 20px;
}

.address-wrapper a {
  color: #ffffff;
}
.address-wrapper a:last-child {
  margin-right:0;
}

.address-wrapper address {
  font-weight: 900;
}

/*
 Social media section
 */
.social-media-wrapper {
  font-size: 25px;
}

.social-media-wrapper a {
  font-size: 25px;
  color: #ffffff;
}

.social-media-wrapper a:last-child {
  margin-right: 0;
}

.follow-us {
}

.contact-us {
}

/*
Footer and copyright section
*/
.copyright {
  color: #ffffff;
}


/*--- THE MAGIC ---*/
/*
This is the best bit!
*/
[placeholder]{
  cursor:pointer;
}
[placeholder]:active,
[placeholder]:focus{
  cursor:text;
}