// 
// 
// user.scss
//
// Place your own sparrow CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.
.navbar-brand > image {
  display: inline-block;
}

.navbar-brand > h1 {
  font-family: $font-family-brand;
  font-size: 1em;
  color: white;
  display: inline-block;
  margin: 0;
}